.p {
    -color-text-main: #2d2d2d;
    --color-text-secondary: #4c4c4c;
    --color-text-heading: #000;
    --color-text-invert: #fff;
    --color-text-control: #000;
    --color-text-status: #333;
    --color-text-footer: #676767;
    --color-background-main: #f6f5f3;
    --color-background-secondary: #ebebeb;
    --color-background-menu: #333;
    --color-background-header: #fc3f1d;
    --color-background-header-addition: #ff583a;
    --color-background-pinned: #f7f087;
    --color-background-disabled: #ddd;
    --color-control-active: #666;
    --color-control-hover: #f5f5f5;
    --color-control-outline: #ccc;
    --color-link: #000;
    --color-link-hover: #4d4d4d;
    --color-link-grey: grey;
    --color-link-grey-hover: #999;
    --color-link-action: #04b;
    --color-link-action-hover: #fc3f1d;
    --color-accent-main: #ffdb4d;
    --color-separator: #e5e5e5;
    --color-border-footer: #ddd;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f6f5f3;

    font-family: "Montserrat", sans-serif;
}

.user-data {
    display: flex;
    align-items: center;
}

.user-img-wrapper {
    position: relative;
    margin-right: 10px;

    width: 50px;
    height: 50px;

    border-radius: 50%;

    overflow: hidden;

}

.user-img-wrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}


.main-title {
    text-align: center;

    color: #252124;
    font-size: 38px;
}

.events_container {
    margin: 0 auto;
    width: 90%;

}

.events_container {
    display: flex;
    
}

.event {
    position: relative;

    margin: 0 10px;
    width: 350px;
    height: 400px;

    background-color: #ffdb4d;

    border-radius: 10px;

    box-shadow: 0 0 5px 1px rgba(0,0,0,.06667);

    overflow: hidden;
}

.img_wrapper {
    position: relative;

    width: 100%;
    height: 50%;

    overflow: hidden;
}

.img_wrapper img{
    width: 100%;
    height: 100%;

    object-fit: cover

}

.event_info {
    padding: 4%;

    width: 92%;
    height: 56%;

    text-align: left;

    background-color: #fff;
}

.event_title {
    text-align: center;

    text-align: left;
}


.event_link {
    position: absolute;

    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;
}

.block {
    margin: 10px;

    width: 200px;
    height: 50px;

    background-color: red;
}


.event_date {
    color: #999;

    font-size: 15px;
}

.event_title {
    color: #252124;

    font-size: 20px;
}


/* Header ======================================================= */

.main-header {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 70px;

    background-color: #e1b4ff;
}

.main-menu {
    list-style: none;

    display: flex;
    align-items: center;
    justify-content: center;
}

.main-menu li {
    margin: 0 20px;
}

.main-menu li a {
    text-decoration: none;
    font-weight: 600;
    font-size: 28px;

    color: #8647e6;

    transition: all .2s;
}

.main-menu li a:hover {
    color: #7026df;
}


.logout-btn {
    padding: 3px 10px;
    border: none;
    border-radius: 3px;
    background-color: #8647e6;
    color: #e1b4ff;
    cursor: pointer;
    font-size: 21px;
    transition: all .2s;
}


.search-form {
    position: relative;
    width: 50%;
    margin: 5vh 0 0 5vh;

}


.search-open-list-btn {
    padding: 10px 20px;
    background-color: #e1b4ff;

    font-size: 16px;

    border-radius: 15px;

    cursor: pointer;

    border: none;

}

.search-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.search-text-label {
    position: relative;

    border: 2px solid #8647e6;
    border-radius: 5px;

    display: flex;
    align-items: center;
    width: 22vh;
    height: 30px;

    overflow: hidden;
}

.search-btn {
    background: none;
    border: none;

    color: #8647e6;

    cursor: pointer;
    width: 15%;
}

.search-text-label input {
    width: calc(85% - 10px);
    height: 100%;

    padding: 0 5px;

    border: none;
    background: none;

    outline: none;
}

.search-list {
    position: relative;

    width: 100%;
    min-height: 5vh;
    margin-top: 2vh;
}

.checkbox-input {
    display: none;
}

.search-checkbox {
    position: relative;
    display: block;

    padding: 5px 10px;
    margin: 5px;

    border: 1px solid #e1b4ff;
    border-radius: 15px;
    overflow: hidden;

    cursor: pointer;
}

.checkbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    height: 100%;

    background-color: #e1b4ff;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;

    transition: all .2s;
}

.checkbox-input:checked + .checkbox {
    opacity: 1;
}

.search-multiple-select {
    

    margin: 10px;
    padding: 10px;
    border-radius: 5px;

    background: #f2e0fc;

    display: none;

    align-items: center;
    flex-wrap: wrap;
}

.search-condition {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    padding: 10px 0;
    
}

.checked-item {
    position: relative;
    display: block;

    padding: 5px 10px;
    margin: 5px;

    border: 1px solid #e1b4ff;
    background: #e1b4ff;
    border-radius: 15px;
    overflow: hidden;

    cursor: pointer;
}

.checkbox-text {
    /* z-index: 10; */
}

.success {
    margin-top: 70px;
}

.success::before {
    content: "";

    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 6px;
    margin-bottom: -2px;
    content: "";
    border: 3px solid hsla(0, 0%, 100%, 0);
    border-radius: 50%;

    border-color: #58e590
}

.today {
    background-color: #ffe760;
}


.menu-callapse {
    /* display: none; */
    visibility: hidden;

    font-size: 50px;
    color: #8647e6;
}



@media(max-width:1200px) {


    .main-header {
        position: fixed;
        top: 0;
        left: 0;

        display: flex;
        flex-direction: column;
        height: auto;

        z-index: 100;
    }

    .main-menu {
        display: none;
        flex-direction: column;
        padding: 0;

    }

    .logout-btn {
        font-size: 45px;
    }

    .main-menu li {
        margin: 20px 0;
        
    }

    .main-menu li a{
        font-size: 45px;
    }

    .menu-callapse {
        visibility: visible;
    }

    .search-form {
        position: relative;

        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        margin: 15vh 0 0 0;

        flex-direction: column;
    }

    #topic-btn {
        margin: 0 10px;
    }

    .search-form button {
        font-size: 25px;
    }
    .search-text-label {
        height: 40px;
    }
    .search-text {
        font-size: 25px;
    }

    .events_container {
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .event {
        position: relative;

        width: 75%;
        min-height: 700px;
        margin-bottom: 50px;
    } 

    .sub-title {
        position: absolute;

        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
}

.home-link {
    font-size: 30px;
}