.p {
    -color-text-main: #2d2d2d;
    --color-text-secondary: #4c4c4c;
    --color-text-heading: #000;
    --color-text-invert: #fff;
    --color-text-control: #000;
    --color-text-status: #333;
    --color-text-footer: #676767;
    --color-background-main: #f6f5f3;
    --color-background-secondary: #ebebeb;
    --color-background-menu: #333;
    --color-background-header: #fc3f1d;
    --color-background-header-addition: #ff583a;
    --color-background-pinned: #f7f087;
    --color-background-disabled: #ddd;
    --color-control-active: #666;
    --color-control-hover: #f5f5f5;
    --color-control-outline: #ccc;
    --color-link: #000;
    --color-link-hover: #4d4d4d;
    --color-link-grey: grey;
    --color-link-grey-hover: #999;
    --color-link-action: #04b;
    --color-link-action-hover: #fc3f1d;
    --color-accent-main: #ffdb4d;
    --color-separator: #e5e5e5;
    --color-border-footer: #ddd;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f6f5f3;

    font-family: "Montserrat", sans-serif;
}


.main-title {
    text-align: center;

    color: #311357;
}

.events_container {
    margin: 0 auto;
    width: 90%;

}

.events_container {
    display: flex;
    
}

.event {
    position: relative;

    margin: 0 10px;
    width: 350px;
    height: 400px;

    background-color: #ffdb4d;

    border-radius: 10px;

    box-shadow: 0 0 5px 1px rgba(0,0,0,.06667);

    overflow: hidden;
}

.img_wrapper {
    position: relative;

    width: 100%;
    height: 50%;

    overflow: hidden;
}

.img_wrapper img{
    width: 100%;
    height: 100%;

    object-fit: cover

}

.event_info {
    padding: 4%;

    width: 92%;
    height: 56%;

    text-align: left;

    background-color: #fff;
}

.event_title {
    text-align: center;

    text-align: left;
}


.event_link {
    position: absolute;

    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;
}

.block {
    margin: 10px;

    width: 200px;
    height: 50px;

    background-color: red;
}


.event_date {
    color: #999;

    font-size: 15px;
}

.event_title {
    color: #252124;

    font-size: 20px;
}


/* Header ======================================================= */

.main-header {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 50px;

    background-color: #e1b4ff;
}

.main-menu {
    list-style: none;

    display: flex;
    align-items: center;
    justify-content: center;
}

.main-menu li {
    margin: 0 20px;
}

.main-menu li a {
    text-decoration: none;
    font-weight: 600;
    font-size: 21px;

    color: #8647e6;

    transition: all .2s;
}

.main-menu li a:hover {
    color: #7026df;
}