.img-wrapper {
    position: relative;

    width: 100%;

    height: 40vh;

    overflow: hidden;
}

.img-wrapper img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.event-content {
    position: relative;
/* 
    margin: 0 auto;
    width: 80%; */
}

.about-wrapper {
    position: relative;

    background-color: #dfdfdfd3;
}

.about-info {
    width: 60%;
    margin: 0 auto;
    padding: 60px 0;
}


.about-info p {
    text-align: justify;
    color: #252124;

    font-size: 26px;
}

.event-title {
    margin: 0;
    color: #252124;
    font-size: 38px;
}

.event_date {
    font-size: 25px;
}

.event-btn {

    margin-top: 60px;

    padding: 7px 30px;

    border: none;

    border-radius: 3px;

    background-color: #e1b4ff;

    color: #8647e6;
    cursor: pointer;
    font-size: 25px;

    transition: all .2s;
}

.event-btn:hover  {
    color: #7026df;
}

.speakers {
    position: relative;
    width: 100%;

    list-style: none;
}

.speaker-item {
    margin: 50px 0;

    display: flex;
    align-items: center;

    font-size: 25px;
}

.specker-img-wrapper {
    position: relative;

    margin-right: 5vh;

    width: 17vh;
    height: 17vh;

    border-radius: 30px;

    overflow: hidden;
}

.specker-img-wrapper img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.speakers {
    width: 60%;
    margin: 0 auto;
    padding: 60px 0;
}


.alert {
    position: fixed;

    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 300px;
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 30px;

    border-radius: 10px;
}

.alert-success {
    background-color: #62db5e;
}

.alert-error {
    background-color: #df3e3e;
}