{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,400;0,700;1,500&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>События</h1>

<div class="events_container">

    {% for event in events %}

    <div class="event">

        <div class="img_wrapper">
            <img src="{{ event.image.url }}" alt="">
        </div>

        <div class="event_info">
            <span class="event_date">{{ event.event_date }}</span>
            <h2 class="event_title">{{ event.title }}</h2>


        </div>

        <a class="event_link" href="{% url 'event_detail' event.pk %}"></a>


    </div>

    {% endfor %}

</div>


</body>
</html>