{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>

    <script src="https://kit.fontawesome.com/800f121123.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,400;0,700;1,500&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/base.css' %}">


    {% block extra_styles %}

    {% endblock extra_styles %}

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<header class="main-header">
    <div class="menu-callapse" id="menu-callapse">
        <i class="fa-solid fa-bars"></i>
    </div>
    <menu class="main-menu" id="main-menu" data-open="0">
        <li><a href="{% url 'home' %}" class="home-link"><i class="fa-solid fa-house"></i></a></li>
        {% if request.user.is_authenticated %}
        <li class="user-data"><div class="user-img-wrapper"><img src="{{ request.user.photo.url }}" alt=""></div><a href="{% url 'profile' %}">{{ request.user }}</a></li>
        <li>
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button class="logout-btn" type="submit">Выход</button>
            </form>
        </li>
        {% else %}
        <li><a href="{% url 'login' %}">Войти <i class="fa-solid fa-right-to-bracket"></i></a></li>
        <li><a href="{% url 'registration' %}">Зарегистрироваться <i class="fa-solid fa-address-card"></i></a></li>


        {% endif %}

    </menu>

</header>


{% block main %}

{% endblock main %}


{% block extra_scripts %}
<script src="{% static 'js/searchForm.js' %}"></script>
<script src="{% static 'js/menu.js' %}"></script>
{% endblock extra_scripts %}
</body>
</html>