{% extends 'core/base.html' %}
{% load static %}
{% load tz %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/event_detail.css' %}">

{% endblock extra_styles %}


{% block main %}


<div class="">


    <header class="img-wrapper">
        <img src="{{ event.image.url }}" alt="">

    </header>

    <div class="event-content">

        <div class="about-wrapper">

            <div class="about-info">

                <h1 class="event-title">
                    {{ event.title }}
                </h1>

                <p>{{ event.description }}</p>

                <span class="event_date">{{ event.event_date }}</span>

                {% now "Y-m-d" as current_date %}

                {% if event.event_date|date:"Y-m-d" >= current_date %}

                <form action="{% url 'sub' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="event" value="{{ event.pk }}">
                </form>
                {% if request.user not in event.users.all %}
                <button id="sub_btn" class="event-btn" data-pk="{{ event.pk }}" data-sub="sub">Подписаться</button>
                {% else %}
                <!--                <form action="{% url 'un_sub' %}" method="post">-->
                <!--                    <h2>Вы записаны на событие</h2>-->
                <!--                    {% csrf_token %}-->
                <!--                    <input type="hidden" name="event" value="{{ event.pk }}">-->
                <!--                    <button class="event-btn">Отписаться</button>-->
                <!--                </form>-->
                <button id="sub_btn" class="event-btn" data-pk="{{ event.pk }}" data-sub="un_sub">Отписаться</button>
                {% endif %}

                {% endif %}

            </div>

        </div>


        <ul class="speakers">
            <li><h2 class="event-title">Спикеры</h2></li>
            {% for speaker in event.speakers.all %}
            <li class="speaker-item">
                <div class="specker-img-wrapper">
                    <img src="{{ speaker.image.url }}" alt="">
                </div>

                <div class="">
                    <h3>
                        {{ speaker.first_name }}
                        {{ speaker.last_name }}
                        {% if speaker.surname %} {{ speaker.surname }} {% endif %}
                    </h3>
                </div>
            </li>
            {% endfor %}
        </ul>

    </div>

</div>

<!--<div class="alert alert-success">-->
<!--Ошибка!-->
<!--</div>-->

{% endblock main %}

{% block extra_scripts %}
<script src="{% static 'js/subscription.js' %}"></script>
{% endblock extra_scripts %}


